# This is an example of the elastic_stack.config file that these scripts read from

# the version to install
STACK_VERSION=7.13.1

# Easily copyable from cloud.elastic.co
#  (or can be generated for on-prem/vpc installations)
CLOUD_ID=My_Deployment:SGVsbG8gV29ybGQhCg==

# Beats user for ingest and telemetry
BEATS_AUTH=beats_ingest:Qwerty123!

# Beats user if setup is needed
#  (only required if Elasticsearch or Kibana habe not been configured for a given beat)
BEATS_SETUP_AUTH=beats_setup_auth:Qwerty123!

# Token used to enroll Elastic Agent 
FLEET_TOKEN=SGVsbG8gV29ybGQhCg==

# Fleet server URL to enroll to (Post 7.13.0)
# (Pre 7.13.0 the Kibana URL from the Cloud ID will be used)
FLEET_SERVER=https://fleet_server1.example.com
